.article-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.article-description {
  font-size: 18px;
  color: #555;
  margin-bottom: 8px;
}

.article-body {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.article-button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.article-votes {
  width: 100%;
  align-items: center;
  justify-content: end;
}

.article-vote-metric {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  align-items: center;
  justify-content: center;
}

.article-sources {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.source-article-button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-sources {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-top: 16px;
}

.article-author {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  margin-top: 8px;
  font-style: italic;
}

.article-comment-group {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.comment-input-box {
  resize: none;
  width: 100%;
  height: 400px;
  padding: 12px;
}

.article-submit-comment-button {
  margin-top: 16px;
}

.article-contribution-title {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.article-contribution-switch-name {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
  flex:1;
}

.article-contribution-switch {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.contribution-votes {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.contribution-vote-metric {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  align-items: center;
  justify-content: center;
}

.contribution-is-positive {
  margin-left: 8px;
}

.contribution {
  text-align: left;
  background-color: white;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 8px;
}

.contribution-number {
  font-size: 14px;
}

.contribution-arrow {
 margin-left: 8px; 
}

.contribution-is-positive {
  flex: 1;
}

.vote-slider {
  width: 100%;
}

.article-vote-text-and-value {
 justify-content: left;
 text-align: left;
  display: flex;
  margin-top: 16px;
}

.article-vote-text {
  flex: 1;
}