.write-article {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.write-article-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    margin-top: 32px;

}

.write-article-title {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-align: left;
}

.write-article-description {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    text-align: left;
}

.write-article-body {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    text-align: left;
}   

.write-article-body input {
    width: 100%;
}

.write-article-body-textarea {
    resize: false;
    width: 100%;
    height: 400px;
    padding: 12px;
}
    
.write-article-desciption {
    padding: 12px;
}

.write-article-title-label {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    text-align: left;
}


.write-article-description-header {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    text-align: left;
}

.write-article-body-header {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    text-align: left;
}

.write-article-title-input {
    padding: 12px;
}

.write-article-description-input {
    padding: 12px;
}