.headline-article {
    width: 100%;
    margin-top: 24px;
    box-sizing: border-box;
    text-align: left;
    align-items: end;
}

.article-title {   
    margin-top: 24px;
    overflow-wrap: break-word;
    font-size: 16px;
    z-index: 2;
    line-height: normal;
    color: black;
    font-weight: 600;
}

.article-description {   
    font-size: 16px;
    margin-top: 4px;
    z-index: 2;
    color: black;
}